/* Main styles */
body {
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Open Sans Condensed', sans-serif; */
    background: #333333;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/* Header section styles */
.header {
    background: url("../img/hero-background.png");
    background-size: cover;
}

.header__container {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    margin: 0;
    padding: 0;
    max-width: 824px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.header__menu li a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}

.header__button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}

.header__button::after {
    content: '';
    width: 119px;
    height: 2px;
    margin-top: 2px;
    display: block;
    background: #D1A954;
}

/* Hero section styles */
.hero {
    padding-top: 140px;
    padding-bottom: 208px;
    display: flex;
    align-items: center;
    gap: 125px;
}

.hero__title {
    margin: 0;
    padding-bottom: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.hero__description {
    width: 540px;
    height: 79px;
    margin: 0;
    padding-bottom: 49px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #FFFFFF;
}

.hero__button {
    padding: 15px 47px;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
    background: #D1A954;
}

#slider{ /*центровка слайдера*/
    position: relative;
    text-align: center;
    top: 10px;
    margin: 0 auto;
}

#slider input[type=radio] {
    display: none;
}

#slides article{ /*все изображения справа друг от доруга*/
    width: 20%;
    float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
    width: 500%;
    line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
    width: 100%;
    overflow: hidden;
}

article img{ /*размер изображений слайдера*/
    width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
    max-width: 370px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
    background: url('../img/slider-prev.png') no-repeat; /*заливка фона картинкой без повторений*/
    float: left;
    display: block;
    margin-top: 35px;
    height: 25px;
    width: 108px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
    background: url('../img/slider-next.png') no-repeat; /*заливка фона картинкой без повторений*/
    float: right;
    display: block;
    margin-top: 35px;
    height: 25px;
    width: 108px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
    cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
    display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
    margin-left: 0;
}

#switch2:checked ~ #slides .image{
    margin-left: -100%;
}

#switch3:checked ~ #slides .image{
    margin-left: -200%;
}

#switch4:checked ~ #slides .image{
    margin-left: -300%;
}

#switch5:checked ~ #slides .image{
    margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
    margin: 0 0 0 0;
    width: 100%;
    height: 50px;
}

#slides .image{ /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
    opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
    transition: opacity 0.2s ease-out;
}