/* Main styles */
body {
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Open Sans Condensed', sans-serif; */
    background: #333333;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/* Aside styles */
.aside {
    width: 150px;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(51, 51, 51, 0.75);
}

.aside__container {
    padding-top: 285px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aside__title {
    margin: 0;
    width: 300px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #C4C4C4;

    transform: rotate(-90deg);
}

.aside__line {
    width: 3px;
    height: 80px;
    display: block;
    margin-top: 175px;
    background: #C4C4C4;
}

.aside__social-container {
    display: flex;
    padding-top: 40px;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.aside__social-container a {
    color: rgba(255, 255, 255, 0.6);
}

.aside__social-container a:hover {
    color: #D1A954;
}

.aside__social-container a i {
    font-size: 26px;
}

    /* Header section styles */
.header {
    background: url("../img/hero-background.png");
    background-size: cover;
}

.header__container {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    margin: 0;
    padding: 0;
    max-width: 824px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.header__menu li a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}

.header__button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}

.header__button::after {
    content: '';
    width: 119px;
    height: 2px;
    margin-top: 2px;
    display: block;
    background: #D1A954;
}

/* Hero section styles */
.hero {
    padding-top: 140px;
    padding-bottom: 208px;
    display: flex;
    align-items: center;
    gap: 125px;
}

.hero__title {
    margin: 0;
    padding-bottom: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.hero__description {
    width: 540px;
    height: 79px;
    margin: 0;
    padding-bottom: 49px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #FFFFFF;
}

.hero__button {
    padding: 15px 47px;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
    background: #D1A954;
}

#slider{
    position: relative;
    text-align: center;
    top: 10px;
    margin: 0 auto;
}

#slider input[type=radio] {
    display: none;
}

#slides article{
    width: 20%;
    float: left;
}

#slides .image{
    width: 500%;
    line-height: 0;
}

#overflow{
    width: 100%;
    overflow: hidden;
}

article img{
    width: 100%;
}

#desktop:checked ~ #slider{
    max-width: 370px;
}

#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
    background: url('../img/slider-prev.png') no-repeat;
    float: left;
    display: block;
    margin-top: 35px;
    height: 25px;
    width: 108px;
}

#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
    background: url('../img/slider-next.png') no-repeat;
    float: right;
    display: block;
    margin-top: 35px;
    height: 25px;
    width: 108px;
}

label, a{
    cursor: pointer;
}

.all input{
    display: none;
}


#switch1:checked ~ #slides .image{
    margin-left: 0;
}

#switch2:checked ~ #slides .image{
    margin-left: -100%;
}

#switch3:checked ~ #slides .image{
    margin-left: -200%;
}

#switch4:checked ~ #slides .image{
    margin-left: -300%;
}

#switch5:checked ~ #slides .image{
    margin-left: -400%;
}

#controls{
    margin: 0 0 0 0;
    width: 100%;
    height: 50px;
}

#slides .image{
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{
    opacity: 0.6;
}

#controls label{
    transition: opacity 0.2s ease-out;
}

/* About section styles */
.about {
    padding-top: 150px;
}

.about__title {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #D1A954;
}

.about__title span {
    color: #FFFFFF;
}

.about__container {
    padding-top: 100px;
    padding-bottom: 125px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.about__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.about__text_title {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.about__text_desc {
    width: 445px;
    height: 210px;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #FFFFFF;
}

.about__numbers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about__numbers_title {
    margin: 0;
    padding-bottom: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.about__numbers_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 25px;
    gap: 15px;
}

.about__numbers_item p {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.about__numbers_item p span {
    color: #D1A954;
}

/* Events section styles */
.events__title {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #D1A954;
}

.events__title span {
    color: #FFFFFF;
}

.events__container {
    padding-left: 150px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.event__item {
    width: 442px;
    height: 550px;
    position: relative;
}

.event__item .title {
    margin: 0;
    padding-top: 40px;
    padding-left: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.event__item .mouth {
    margin: 0;
    width: 131px;
    position: absolute;
    left: -16px;
    bottom: 80px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;

    transform: rotate(-90deg);
}

.oscar {
    background: url("../img/events-image-1.png");
}

.ardionat {
    background: url("../img/events-image-2.png");
}

.gold {
    background: url("../img/events-image-3.png");
}

.chelk {
    background: url("../img/events-image-4.png");
}

/* Rating section styles */
.rating {
    padding-top: 150px;
    padding-bottom: 150px;
}

/* Partners section styles */
.partners__title {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #D1A954;
}

.partners__title span {
    color: #FFFFFF;
}

.partners__container {
    gap: 80px;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Contact section styles */
.contact__title {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #D1A954;
}

.contact__title span {
    color: #FFFFFF;
}

.contact__container {
    gap: 125px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 80px;
}

.contact__info {
    gap: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.contact__info a {
    margin: 0;
    width: 255px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}

.contact__inputs {
    gap: 30px;
    display: flex;
    align-items: center;
}

.contact__inputs_name-phone {
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact__inputs_company-email {
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-input {
    width: 180px;
    height: 35px;
    padding-left: 15px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;

    color: #989898;
    background: #444444;
    border: 1px solid #616161;
    box-sizing: border-box;
}

.contact__inputs_message {
    width: 310px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 70px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;

    color: #989898;
    background: #444444;
    border: 1px solid #616161;
    box-sizing: border-box;
}

.contact__ps-submit {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact__ps-submit .description {
    width: 390px;
    height: 50px;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #989898;
}

.contact__ps-submit input {
    width: 190px;
    height: 50px;

    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    border: none;
    color: #FFFFFF;
    cursor: pointer;
    background: #D1A954;
}

/* Footer section styles */
.footer {
    width: 1110px;
    margin: 0 auto;
    border-top: 1px solid #565656;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.footer__container .copyright {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #989898;
}

.footer__container .design {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #989898;
}