/* Main styles */
body {
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Open Sans Condensed', sans-serif; */
    background: #333333;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/* Header section styles */
.header {
    background: url("../img/hero-background.png");
}

.header__container {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    margin: 0;
    padding: 0;
    max-width: 824px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.header__menu li a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}

.header__button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}

.header__button::after {
    content: '';
    width: 119px;
    height: 2px;
    margin-top: 2px;
    display: block;
    background: #D1A954;
}